<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>store</title>
  <link rel="stylesheet" type="text/css" href="/css/store.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body class="proBody" onload="init();">

<div class="wrap">
  <div class="container">



  </div><!--//container-->
</div><!--//wrap-->



<div class="wrap">
  <div class="container">


        <!--상담문의-->
        <div class="goods_view_board" id="goods_board">
          <div id="contents-wrapper" class="goods_board">
            <div class="xans-element- xans-product xans-product-additional detail_board  ">
              <div class="board">
                <span class="line"></span>
                <div class="title_txt">
                  <h2>PRODUCT Q&amp;A</h2>

                  <ul class="list_type1 old">
                    <li>
                      <span class="ico"></span>
                      <p class="txt">상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.
                      </p>
                    </li>
                    <li>
                      <span class="ico"></span>
                      <p class="txt">배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이컬리 내 1:1 문의에 남겨주세요.
                      </p>
                    </li>
                  </ul>
                </div>



                <table class="xans-board-listheader" width="100%" border="0" cellpadding="0" cellspacing="0">

                  <tbody>
                  <tr>
                    <th width="70" scope="col" class="input_txt">번호</th>
                    <th width="134" scope="col" class="input_txt board_hidden">
                    </th>
                    <th width="631" scope="col" class="input_txt">제목</th>
                    <th width="80" scope="col" class="input_txt">작성자</th>
                    <th width="80" scope="col" class="input_txt">작성일</th>
                  </tr>
                  </tbody>
                </table>


                <!--상담글 리스트 출력-->
                <div id="qnaListArea">

                </div>

                  <div class="tr_line">
                    <table width="100%" class="xans-board-listheaderd">
                      <tbody>
                      <input type="hidden" name="qnaType" value="비밀">
                      <tr>
                        <td width="70" align="center">
                          5
                        </td>
                        <td width="134">
                          <a class="board_hidden"> </a>
                        </td>
                        <td class="image" style="padding:22px 19px 23px; text-align:left;">
                          <div style="padding:3px 0px 0px 20px;">
                            <p class="subject">제목입니다</p>
                          </div>
                        </td>
                        <td width="80">
                          작성자
                        </td>
                        <td width="80" style="color:#939393">
                          2021-07-18
                        </td>
                      </tr>


                      </tbody>
                    </table>

                    <!-- qna_content (리뷰와 같아서 이름겹치게 둠)-->
                    <div class="review_view" style="display: none;">
                      <div class="inner_review">
                        <div class="name_purchase">
                          <strong class="name"></strong>
                          <p class="package"></p>
                        </div>

                          <div class="review_photo">
                            <img src="" border="0"><br><br>
                          </div>

                        <div>
                          qna 내용
                        </div>
                      </div>
                    </div>
                  </div>


                <p class="btnArea after">
                    <span class="bhs_button">상품문의</span>
                </p>


                <!-- 페이징 버튼 영역 -->
                <div id="paging">
                  <ul>
                    <li><a href="">◀</a></li>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li class="active"><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">7</a></li>
                    <li><a href="">8</a></li>
                    <li><a href="">9</a></li>
                    <li><a href="">10</a></li>
                    <li><a href="">▶</a></li>
                  </ul>
                  <div class="clear"></div>
                </div>


              </div> <!--board-->
            </div> <!--xans-element- xans-product xans-product-additional detail_board-->

          </div> <!--id="contents-wrapper" class="goods_board"-->

        </div> <!--.goods_view_board #goods_board-->
      </div> <!--class="goods_view_board" id="goods_board"-->


    </div> <!--layout_wrap goods_view_area-->


    <!-- <input type="text" id="authuser" value="${authUser.user_no}"> -->

    <br><br><br><br><br><br><br><br><br>



  </div><!--//container-->
</div><!--//wrap-->




</script>
</html>